@charset "UTF-8";

body {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-size: 30px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

a:link, a:visited {
	background-color: #6782E7;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 4px;
}

a:hover, a:active {
	background-color: #244AD0;
}


.button__back{
	background-color: #6782E7;
	border:none;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
		border-radius: 4px;
}

.button__back:hover {
	background-color: #244AD0;
}

/* Intro */
.intro {
	margin-top: 15%;
}

.intro__content {
	display: flex;
	flex-direction: column;
}

.intro__inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.intro__form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 320px;
}

input {
	height: 40px;
	padding: 14px 25px;
}

input[type=submit] {
	background-color: #2D5BFF;
	font-size: 20px;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	height: 50px;
}

input[type=submit]:hover {
	background-color: #244AD0;
}

input[type=radio] {
	height: 20px;
}

.intro__frame {
	background-color: #ECF0FF;
	margin: 20px 20px;
	border: 2px solid #96ADFF;
	border-radius: 5px;
	padding: 30px;
}

/* Calc */
.calc {
	margin-top: 10px;
}

.calc__inner {
	display: flex;
	flex-direction: column;
}

.calc__form {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 350px;
}

.calc__option {
	width: 120px;
	height: 30px;
	border: 1px solid #999;
	font-size: 18px;
	color: black;
	background-color: #eee;
	border-radius: 5px;
	box-shadow: 4px 4px #ccc;
}

.calc__content {
	background-color: #ECF0FF;
	margin: 20px 20px;
	border: 2px solid #96ADFF;
	border-radius: 5px;
	padding: 30px;
}

.calc__radios {
	display: flex;
}